@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none ;
    outline: none;
    font-family:'Nunito',sans-serif ;
    font-weight: 400;

}
html{
    font-size:62.5%;

}
.section-heading{
    font-size: 10rem;
    font-weight: 900;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow:0.5rem 0.5rem 0.5rem#000;

}
/* End of Common styles */

/* Section1 */
.section-1{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 14, 116);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



.section-1-icons i{
    font-size: 23rem;
    color: rgb(130, 186, 238);
    position:absolute;
    transform: translate(-50%,-50%)scale(0);
    text-shadow:0.2rem 0.2rem 0.2rem#000;
    transition: transform .3s;
}

.section-1-icons i.change{
    transform: translate(-50%,-50%)scale(1);
    transition: transform 0.3s0.3s;
}


/* End of Section1  */

/* Section2 */
.section-2{
    width: 100%;
    height: 100vh;
    background-color: rgb(47, 48, 58);
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    justify-content: space-between; 
}

.cards-container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 30rem;
    background-color: rgb(255, 0, 170);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg)skewX(-2deg);

}
.card::before{
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #242a81;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
  
}

.card:hover{
    transform: rotateY(20deg)skewX(-2deg)translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}
.card::after{
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #242a81;
    position: absolute;
    top:-1rem;
    left:0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}
.card-img{
    width: 100%;
}
.card-name{
 font-size: 3rem;
 font-weight: 900;
 text-transform: uppercase;
 letter-spacing: 0.5rem;
 margin: 2rem 0;
 text-shadow: 0.15rem 0.15rem 0.15rem #000;   
}
.card-btn{
 
  width: 180px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgb(195, 0, 255);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #259ad0;
  transition: ease-out 0.8s;
  font-size: 2rem;
  outline: none;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0;


}
.card-btn:hover{
    cursor: pointer;
    color: #000;
    box-shadow: inset 180px 0 0 0 #259ad0;
    /* background-color: #ff3cac; */
    background-image: linear-gradient(
        225deg,#c00ad8 0%,#26caf8 50%,#c625d0 100%);
} 


/* End of Section 2  */
/*Section 3  */
.section-3 {
  background-color: #333;
  padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 10rem;
  }

  .gallery-link {
    position: relative;
    margin: 4rem 1rem;
  }
  
  .gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: rgb(73, 178, 226);
    z-index: 10;
    transition: height 0.5s;
  }
  
  .gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: rgb(73, 178, 226);
    
    transition: width 0.5s;
  }
  
  .gallery-link:hover::before {
    height: 80%;
  }
  
  .gallery-link:hover::after {
    width: 90%;
  }

.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
      0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
    transition: all 0.5s;
  }
  .food-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgb(11, 35, 173);
    width: 0%;
    overflow: hidden;

   
  }

  .gallery-link:hover .food-name{
      width: 100%;
      transition: width 1.5s 0.5s;
  }
  .food-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    text-transform:uppercase ;
    color: #fff;
    visibility: hidden;
    transition: opacity 0.3s;
    
    
    
  }
/* End of Section 3  */
